## Помічник у грі «Словко» / 12-02-2022

### 1. Завантажуємо помічника у Jupiter

In [202]:
import pandas as pd

In [203]:
slovko = pd.read_csv('word.csv', encoding='Windows-1251')
slovko.head()

    word
0  абзац
1  абиде
2  абияк
3  аборт
4  абрек

In [204]:
print(f'Маємо {slovko.shape[0]} варіантів.')

Маємо 5489 варіантів.

### 2. Розбиваємо слово на літери і додаємо ваги кожному

In [205]:
slovko['one'] = slovko['word'].astype(str).str[0]
slovko['two'] = slovko['word'].astype(str).str[1]
slovko['three'] = slovko['word'].astype(str).str[2]
slovko['four'] = slovko['word'].astype(str).str[3]
slovko['five'] = slovko['word'].astype(str).str[4]
slovko.head()

    word one two three four five
0  абзац   а   б     з    а    ц
1  абиде   а   б     и    д    е
2  абияк   а   б     и    я    к
3  аборт   а   б     о    р    т
4  абрек   а   б     р    е    к

In [206]:
def mul_round(df):
    return df.mul(100).round(2)

In [207]:
def slovko_prob(df):

    one_df = df['one'].value_counts(normalize=True).to_frame()
    one_df = one_df.rename(columns={'one': 'one_norm'})
    one_df['one'] = one_df.index

    two_df = df['two'].value_counts(normalize=True).to_frame()
    two_df = two_df.rename(columns={'two': 'two_norm'})
    two_df['two'] = two_df.index

    three_df = df['three'].value_counts(normalize=True).to_frame()
    three_df = three_df.rename(columns={'three': 'three_norm'})
    three_df['three'] = three_df.index

    four_df = df['four'].value_counts(normalize=True).to_frame()
    four_df = four_df.rename(columns={'four': 'four_norm'})
    four_df['four'] = four_df.index

    five_df = df['five'].value_counts(normalize=True).to_frame()
    five_df = five_df.rename(columns={'five': 'five_norm'})
    five_df['five'] = five_df.index
    
    df = df.merge(one_df, how='left', on='one')
    df = df.merge(two_df, how='left', on='two')
    df = df.merge(three_df, how='left', on='three')
    df = df.merge(four_df, how='left', on='four')
    df = df.merge(five_df, how='left', on='five')
    
    df['one_norm'] = mul_round(df['one_norm'])
    df['two_norm'] = mul_round(df['two_norm'])
    df['three_norm'] = mul_round(df['three_norm'])
    df['four_norm'] = mul_round(df['four_norm'])
    df['five_norm'] = mul_round(df['five_norm'])
    
    df['sum'] = (df['one_norm'] + df['two_norm'] + df['three_norm'] + df['four_norm'] + df['five_norm']) / 5
    df['prob'] = (df['sum'] / df['sum'].sum()).mul(100).round(3)
    df = df.sort_values(by='sum', ascending=False)

    return df

In [208]:
slovko_prob(slovko)

,word,one,two,three,four,five,one_norm,two_norm,three_norm,four_norm,five_norm,sum,prob
2372,карна,к,а,р,н,а,7.94,19.46,10.75,8.95,25.34,14.488,0.036
3966,сарна,с,а,р,н,а,7.85,19.46,10.75,8.95,25.34,14.470,0.036
5354,парна,п,а,р,н,а,7.47,19.46,10.75,8.95,25.34,14.394,0.036
1196,варна,в,а,р,н,а,6.89,19.46,10.75,8.95,25.34,14.278,0.036
3445,парка,п,а,р,к,а,7.47,19.46,10.75,8.31,25.34,14.266,0.036
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5437,ущерб,у,щ,е,р,б,1.53,0.05,2.99,3.43,0.80,1.760,0.004
370,з'їзд,з,',ї,з,д,4.12,0.36,0.44,1.46,2.26,1.728,0.004
2307,імідж,і,м,і,д,ж,0.91,1.57,2.35,2.22,0.78,1.566,0.004
2287,їдець,ї,д,е,ц,ь,0.18,0.89,2.99,1.15,2.59,1.560,0.004
575,об'єм,о,б,',є,м,4.10,1.49,0.02,0.13,1.62,1.472,0.004

### 3. Просимо допомогу після першої спроби

In [191]:
first = slovko.query("(one == 'к')")
first = first.query("(one != 'а' & two != 'а' & three != 'о' & four != 'а' & five != 'а')")
first = first.query("(one != 'р' & two != 'р' & three != 'р' & four != 'р' & five != 'р')")
first = first.query("(one != 'н' & two != 'н' & three != 'н' & four != 'н' & five != 'н')")
first = first.query("(one != 'а' & two != 'а' & three != 'о' & four != 'а' & five != 'а')")

In [192]:
first = first[['word', 'one', 'two', 'three', 'four', 'five']]
first.head()

       word one two three four five
5260  коток   к   о     т    о    к
474   котик   к   о     т    и    к
2507  колот   к   о     л    о    т
2503  коліт   к   о     л    і    т
2504  колія   к   о     л    і    я

In [209]:
slovko_prob(first)

,word,one,two,three,four,five,one_norm,two_norm,three_norm,four_norm,five_norm,sum,prob
2,колот,к,о,л,о,т,100.0,40.52,18.10,18.97,12.07,37.932,1.087
0,коток,к,о,т,о,к,100.0,40.52,7.76,18.97,17.24,36.898,1.057
3,коліт,к,о,л,і,т,100.0,40.52,18.10,12.07,12.07,36.552,1.047
1,котик,к,о,т,и,к,100.0,40.52,7.76,16.38,17.24,36.380,1.042
8,колос,к,о,л,о,с,100.0,40.52,18.10,18.97,4.31,36.380,1.042
...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,кметь,к,м,е,т,ь,100.0,0.86,2.59,7.76,6.90,23.622,0.677
110,квест,к,в,е,с,т,100.0,1.72,2.59,1.72,12.07,23.620,0.677
114,квіти,к,в,і,т,и,100.0,1.72,4.31,7.76,3.45,23.448,0.672
113,кеш'ю,к,е,ш,',ю,100.0,10.34,3.45,0.86,0.86,23.102,0.662
115,клейм,к,л,е,й,м,100.0,9.48,2.59,0.86,1.72,22.930,0.657

In [210]:
print(f'Маємо {first.shape[0]} варіантів.')

Маємо 116 варіантів.

### 4. Просимо допомогу після другої спроби.

In [216]:
second = first.query("(one == 'к')")
second = second.query("(two == 'о')")
second = second.query("(three != 'л' & four != 'л' & five != 'л')")
second = second.query("(three != 'о' & four != 'о' & five != 'о')")
second = second.query("(three != 'т' & four != 'т' & five != 'т')")

In [217]:
second = second[['word', 'one', 'two', 'three', 'four', 'five']]
second.head()

       word one two three four five
2513  комік   к   о     м    і    к
2481  кодек   к   о     д    е    к
477   кошик   к   о     ш    и    к
2530  копія   к   о     п    і    я
475   коцик   к   о     ц    и    к

In [218]:
slovko_prob(second)

,word,one,two,three,four,five,one_norm,two_norm,three_norm,four_norm,five_norm,sum,prob
0,комік,к,о,м,і,к,100.0,100.0,11.11,27.78,27.78,53.334,6.076
2,кошик,к,о,ш,и,к,100.0,100.0,5.56,27.78,27.78,52.224,5.949
4,коцик,к,о,ц,и,к,100.0,100.0,5.56,27.78,27.78,52.224,5.949
5,косий,к,о,с,и,й,100.0,100.0,11.11,27.78,16.67,51.112,5.823
10,кофій,к,о,ф,і,й,100.0,100.0,5.56,27.78,16.67,50.002,5.696
11,кощій,к,о,щ,і,й,100.0,100.0,5.56,27.78,16.67,50.002,5.696
9,кобиз,к,о,б,и,з,100.0,100.0,11.11,27.78,11.11,50.000,5.696
8,комиш,к,о,м,и,ш,100.0,100.0,11.11,27.78,5.56,48.890,5.570
6,косяк,к,о,с,я,к,100.0,100.0,11.11,5.56,27.78,48.890,5.570
14,кобуз,к,о,б,у,з,100.0,100.0,11.11,22.22,11.11,48.888,5.569
7,ковід,к,о,в,і,д,100.0,100.0,5.56,27.78,5.56,47.780,5.443
1,кодек,к,о,д,е,к,100.0,100.0,5.56,5.56,27.78,47.780,5.443
3,копія,к,о,п,і,я,100.0,100.0,5.56,27.78,5.56,47.780,5.443
16,кожух,к,о,ж,у,х,100.0,100.0,11.11,22.22,5.56,47.778,5.443
12,кокус,к,о,к,у,с,100.0,100.0,5.56,22.22,5.56,46.668,5.316
15,козуб,к,о,з,у,б,100.0,100.0,5.56,22.22,5.56,46.668,5.316
13,кожде,к,о,ж,д,е,100.0,100.0,11.11,5.56,5.56,44.446,5.063
17,коєць,к,о,є,ц,ь,100.0,100.0,5.56,5.56,5.56,43.336,4.937

In [219]:
print(f'Маємо {second.shape[0]} варіантів.')

Маємо 18 варіантів.

### 5. Просимо допомогу після третьої спроби.

In [223]:
third = second.query("(one == 'к' & two != 'к' & three != 'к' & four != 'к')")
third = third.query("(one != 'о' & two == 'о' & three != 'о' & four != 'о' & five != 'о')")
third = third.query("(one != 'м' & two != 'м' & three != 'м' & four != 'м' & five != 'м')")
third = third.query("(one != 'і' & two != 'і' & three != 'і' & four != 'і' & five != 'і')")
third = third.query("(five == 'к')")

In [224]:
third = third[['word', 'one', 'two', 'three', 'four', 'five']]
third.head()

       word one two three four five
2481  кодек   к   о     д    е    к
477   кошик   к   о     ш    и    к
475   коцик   к   о     ц    и    к
2545  косяк   к   о     с    я    к

In [225]:
slovko_prob(third)

,word,one,two,three,four,five,one_norm,two_norm,three_norm,four_norm,five_norm,sum,prob
1,кошик,к,о,ш,и,к,100.0,100.0,25.0,50.0,100.0,75.0,25.862
2,коцик,к,о,ц,и,к,100.0,100.0,25.0,50.0,100.0,75.0,25.862
0,кодек,к,о,д,е,к,100.0,100.0,25.0,25.0,100.0,70.0,24.138
3,косяк,к,о,с,я,к,100.0,100.0,25.0,25.0,100.0,70.0,24.138

In [226]:
print(f'Маємо {third.shape[0]} варіантів.')

Маємо 4 варіантів.