## Помічник у грі «Словко» / 11-02-2022

### 1. Завантажуємо помічника у Jupiter

In [1]:
import pandas as pd

In [13]:
slovko = pd.read_csv('word.csv', encoding='Windows-1251')
slovko.head()

    word
0  абзац
1  абиде
2  абияк
3  аборт
4  абрек

In [14]:
print(f'Маємо {slovko.shape[0]} варіантів.')

Маємо 5488 варіантів.

### 2. Розбиваємо слово на літери

In [15]:
slovko['one'] = slovko['word'].astype(str).str[0]
slovko['two'] = slovko['word'].astype(str).str[1]
slovko['three'] = slovko['word'].astype(str).str[2]
slovko['four'] = slovko['word'].astype(str).str[3]
slovko['five'] = slovko['word'].astype(str).str[4]
slovko.head()

    word one two three four five
0  абзац   а   б     з    а    ц
1  абиде   а   б     и    д    е
2  абияк   а   б     и    я    к
3  аборт   а   б     о    р    т
4  абрек   а   б     р    е    к

### 3. Просимо допомогу після першої спроби

In [16]:
first = slovko.query("(one != 'а' & two != 'а' & three != 'а' & four != 'а' & five != 'а')")
first = first.query("(one != 'у' & two != 'у' & three != 'у' & four != 'у' & five != 'у')")
first = first.query("(one != 'д' & two != 'д' & three != 'д' & four != 'д' & five != 'д')")
first = first.query("(one != 'і' & two != 'і' & three != 'і' & four != 'і' & five != 'і')")
first = first.query("(one != 'о' & two != 'о' & three != 'о' & four != 'о' & five != 'о')")
first.head()

      word one two three four five
95   бевзь   б   е     в    з    ь
107  битки   б   и     т    к    и
109  битюг   б   и     т    ю    г
110  бичня   б   и     ч    н    я
130  блеск   б   л     е    с    к

In [17]:
print(f'Маємо {first.shape[0]} варіантів.')

Маємо 535 варіантів.

### 4. Просимо допомогу після другої спроби.

In [18]:
second = first.query("(one != 'м' & two != 'м' & three != 'м' & four != 'м' & five != 'м')")
second = second.query("(one != 'р' & two != 'р' & three != 'р' & four != 'р' & five != 'р')")
second = second.query("(one == 'е' | two == 'е' | four == 'е' | five == 'е') & (three != 'е')")
second = second.query("(one != 'ц' & two != 'ц' & three != 'ц' & four != 'ц' & five != 'ц')")
second = second.query("(one != 'ь' & two != 'ь' & three != 'ь' & four != 'ь' & five != 'ь')")
second.head(n=100)

       word one two three four five
249   велич   в   е     л    и    ч
296   геник   г   е     н    и    к
356   екзил   е   к     з    и    л
361   євген   є   в     г    е    н
428   келех   к   е     л    е    х
...     ...  ..  ..   ...  ...  ...
4896  чисте   ч   и     с    т    е
4968  шелех   ш   е     л    е    х
4970  шеляг   ш   е     л    я    г
5072  щебет   щ   е     б    е    т
5077  щезле   щ   е     з    л    е

[100 rows x 6 columns]

In [19]:
print(f'Маємо {second.shape[0]} варіантів.')

Маємо 105 варіантів.

### 5. Просимо допомогу після третьої спроби.

In [20]:
third = second.query("(one != 'б' & two != 'б' & three != 'б' & four != 'б' & five != 'б')")
third = third.query("(one != 'л' & two != 'л' & three != 'л' & four != 'л' & five != 'л')")
third = third.query("(one == 'и' | two == 'и' | four == 'и' | five == 'и') & (three != 'и')")
third = third.query("(one != 'с' & two != 'с' & three != 'с' & four != 'с' & five != 'с')")
third = third.query("(five == 'к')")
third.head(n=100)

      word one two three four five
296  геник   г   е     н    и    к

In [21]:
print(f'Маємо {third.shape[0]} варіантів.')

Маємо 1 варіантів.