## Помічник у грі «Словко» / 10-02-2022

### 1. Завантажуємо помічника у Jupiter

In [1]:
import pandas as pd

In [17]:
slovko = pd.read_csv('word.csv', encoding='Windows-1251')
slovko.head()

    word
0  абзац
1  абиде
2  абияк
3  аборт
4  абрек

In [18]:
print(f'Маємо {slovko.shape[0]} варіантів.')

Маємо 5488 варіантів.

### 2. Розбиваємо слово на літери

In [19]:
slovko['one'] = slovko['word'].astype(str).str[0]
slovko['two'] = slovko['word'].astype(str).str[1]
slovko['three'] = slovko['word'].astype(str).str[2]
slovko['four'] = slovko['word'].astype(str).str[3]
slovko['five'] = slovko['word'].astype(str).str[4]
slovko.head()

    word one two three four five
0  абзац   а   б     з    а    ц
1  абиде   а   б     и    д    е
2  абияк   а   б     и    я    к
3  аборт   а   б     о    р    т
4  абрек   а   б     р    е    к

### 3. Просимо допомогу після першої спроби

In [20]:
first = slovko.query("(one != 'а' | two == 'а' | three == 'а' | four == 'а' | five == 'а')")
first = first.query("(one != 'у' & two != 'у' & three != 'у' & four != 'у' & five != 'у')")
first = first.query("(one != 'д' & two != 'д' & three != 'д' & four != 'д' & five != 'д')")
first = first.query("(one != 'і' & two != 'і' & three != 'і' & four != 'і' & five != 'і')")
first = first.query("(one != 'о' & two != 'о' & three != 'о' & four != 'о' & five != 'о')")
first.head()

     word one two three four five
0   абзац   а   б     з    а    ц
6   абхаз   а   б     х    а    з
7   аваль   а   в     а    л    ь
8   аванс   а   в     а    н    с
10  аврал   а   в     р    а    л

In [21]:
print(f'Маємо {first.shape[0]} варіантів.')

Маємо 1785 варіантів.

### 4. Просимо допомогу після другої спроби.

In [22]:
second = first.query("(one != 'м' & two != 'м' & three != 'м' & four != 'м' & five != 'м')")
second = second.query("(one != 'р' & two != 'р' & three != 'р' & four != 'р' & five != 'р')")
second = second.query("(one != 'е' & two != 'е' & three != 'е' & four != 'е' & five != 'е')")
second = second.query("(one != 'ц' & two != 'ц' & three != 'ц' & four != 'ц' & five != 'ц')")
second = second.query("(one != 'ь' & two != 'ь' & three != 'ь' & four != 'ь' & five != 'ь')")
second.head(n=100)

      word one two three four five
6    абхаз   а   б     х    а    з
8    аванс   а   в     а    н    с
12   агава   а   г     а    в    а
19   акант   а   к     а    н    т
39   анфас   а   н     ф    а    с
..     ...  ..  ..   ...  ...  ...
637  п'єса   п   '     є    с    а
646  плита   п   л     и    т    а
683  савка   с   а     в    к    а
684  сакви   с   а     к    в    и
685  салби   с   а     л    б    и

[100 rows x 6 columns]

In [23]:
print(f'Маємо {second.shape[0]} варіантів.')

Маємо 656 варіантів.

### 5. Просимо допомогу після третьої спроби.

In [24]:
third = second.query("(one != 'к' & two != 'к' & three != 'к' & four != 'к' & five != 'к')")
third = third.query("(one != 'р' & two != 'р' & three != 'р' & four != 'р' & five != 'р')")
third = third.query("(one != 'а' & two != 'а' & three != 'а' & four != 'а')")
third = third.query("(one == 'с' | two == 'с' | three == 'с') & (four != 'с') & (five != 'с')")
third = third.query("(five == 'а')")
third.head(n=100)

       word one two three four five
707   слива   с   л     и    в    а
715   спина   с   п     и    н    а
719   стиха   с   т     и    х    а
870   ясина   я   с     и    н    а
1310  висла   в   и     с    л    а
1313  виспа   в   и     с    п    а
2717  листа   л   и     с    т    а
3706  псюга   п   с     ю    г    а
3974  свина   с   в     и    н    а
3978  свита   с   в     и    т    а
3985  свята   с   в     я    т    а
4030  сипла   с   и     п    л    а
4097  слина   с   л     и    н    а
4164  спита   с   п     и    т    а
4203  стила   с   т     и    л    а
4282  сюїта   с   ю     ї    т    а
4895  чиста   ч   и     с    т    а
5371  псина   п   с     и    н    а

In [25]:
print(f'Маємо {third.shape[0]} варіантів.')

Маємо 18 варіантів.

### 6. Просимо допомоги після четвертої спроби.

In [29]:
fourth = third.query("one != 'с' & one != 'п'")
fourth = fourth.query("two == 'с' & two != 'п'")
fourth = fourth.query("three == 'и'")
fourth = fourth.query("four == 'н'")
fourth = fourth.query("five == 'а'")
fourth.head(n=100)

      word one two three four five
870  ясина   я   с     и    н    а

In [28]:
print(f'Маємо {fourth.shape[0]} варіантів.')

Маємо 1 варіантів.